.chart {
  margin-top: 15px;
  display: flex wrap;
  justify-content: center;
}
mat-toolbar {
  display: flex;
  justify-content: center;
}
.wind {
  display: flex;
  justify-content: center;
  p {
    margin: 5px;
  }
}

.chartActions {
  display: flex;
  margin-top: 15px;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  .chartInput {
    width: 100%;
    text-align: center;
  }
  .chartButton {
    width: 10%;
  }
  mat-divider {
    background-color: rgb(138, 138, 138);
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
