<div class="chartComponent" [@fadeInOut]>
  <mat-toolbar layout-align="center center" color="warm">
    <h1>Enter a location:</h1>
  </mat-toolbar>
  <div class="chartActions">


    <mat-form-field class="chartInput">
      <input class="chartInputField" #locationInput matInput placeholder="Location" value="Tallinn, Harju County, EE"
        (input)="queryPartialLocation($event.target.value)" (keyup.enter)="querySelectedLocation(locationInput.value)"
        [formControl]="inputControl" [matAutocomplete]="auto">
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let location of locationsArray" (keyup.enter)="querySelectedLocation(locationInput.value)"
        (click)="querySelectedLocation(locationInput.value)" [value]="location">{{location}}</mat-option>
    </mat-autocomplete><button class="chartButton" mat-raised-button color="primary" (click)="querySelectedLocation(locationInput.value)">Show</button>
  </div>

  <div class="chart ">
    <div class="wind" *ngIf="wind">
      <p>Wind: </p>
      <p>{{wind.speed}}</p>
      <p>{{wind.direction}}</p>
    </div>
    <canvas [@fadeInOut] #chartCanvas>{{ chart }}</canvas>
  </div>
</div>