.chartContainer {
  display: flex;
  justify-content: center;
}
mat-divider {
  margin-top: 30px;
  margin-bottom: 30px;
}

.tempContainer {
  display: flex;
  justify-content: center;
}
.windContainer {
  display: flex;
  justify-content: center;
}
.windContainer p {
  margin: 5px;
}
.chartActions {
  display: flex;
  flex-flow: column;
}
.chartInput {
  flex-grow: 1;
  text-align: center;
}
.chartButton {
  flex-grow: 1;
}
